.podcasts,
.books,
.videos,
.movies {
    background-color: var(--media-slider-background);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--border);
    margin-bottom: 2rem;
}

/* hide highlights from clicking on slider buttons */
.podcasts h2::selection,
.books h2::selection,
.videos h2::selection,
.movies h2::selection,
footer h2::selection {
    background-color: transparent;
}

.media-slider {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.media-wrapper {
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.media-list .media-item {
    list-style: none;
}

.media-list .media-item .media-content {
    user-select: none;
    display: flex;
    background-color: rgb(245, 245, 245);
    padding: 18px;
    border-radius: 14px;
    text-decoration: none;
    border: 1px solid var(--border);
    gap: 1rem;
}

.media-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.media-list .media-content .media-image {
    object-fit: cover;
    border-radius: 10px;
    max-width: 200px;
    max-height: 200px;
}

.media-list .media-content iframe {
    border-radius: .5rem;
}

.media-list .media-content .media-title {
    font-size: 100%;
    color: var(--text-primary);
    font-weight: 600;
}

.media-host,
.media-author,
.media-creator,
.media-producer {
    font-size: 80%;
    color: var(--text-secondary);
}

.media-list .media-content .media-description {
    font-size: 80%;
    color: var(--text-primary);
    max-height: 5lh;
    overflow: auto;
}

.media-list .media-content .media-triggers {
    font-size: 80%;
    color: var(--text-primary);
    max-height: 1lh;
    margin: 0;
}

.media-triggers-suggest {
    font-size: 80%;
    text-decoration: none;
    color: var(--text-primary);
    opacity: .7;
    width: fit-content;
}

.media-triggers-suggest:hover {
    opacity: 1;
}

.media-wrapper .swiper-pagination-bullet {
    height: 8px;
    width: 8px;
    opacity: 0.4;
    background: var(--text-secondary);
    transition: opacity 0.2s, width 0.2s;
}

.media-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
    border-radius: 4px;
    background: var(--text-primary);
}

.media-wrapper .swiper-slider-button {
    color: var(--text-primary);
    opacity: 0.5;
    padding: 0.3rem;
    transition: 0.2s ease;
    border-radius: 0.5rem;
}

.media-wrapper .swiper-slider-button:hover {
    color: var(--text-primary);
    opacity: 1;
}

.media-wrapper .swiper-slider-button:active {
    scale: 0.9;
}

/* mobile */
@media (max-width: 1020px) {
    
    .podcasts,
    .books,
    .videos,
    .movies {
        padding: .5rem;
    }

    .media-wrapper {
        margin: 0 0 20px;
        padding: 20px 10px;
    }

    .media-list .media-item .media-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        gap: 0rem;
        min-height: 320px;
    }

    .media-item-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .media-list .media-content .media-image {
        border-radius: 10px;
        height: 169px;
    }

    .media-list .media-content iframe {
        width: 300px;
        height: 169px;
        border-radius: .5rem;
    }

    .media-list .media-content .media-title {
        font-size: 90%;
    }

    .media-host,
    .media-author,
    .media-creator,
    .media-producer {
        font-size: 80%;
    }

    .media-list .media-content .media-description {
        font-size: 70%;
        max-height: 4lh;
    }

    .media-list .media-content .media-triggers {
        font-size: 60%;
        max-height: 1lh;
    }

    .media-triggers-suggest {
        font-size: 60%;
        text-decoration: none;
        color: var(--text-primary);
        opacity: .7;
        width: fit-content;
    }

    .media-triggers-suggest:hover {
        opacity: 1;
    }

    .media-wrapper .swiper-slider-button {
        display: none;
    }

    .media-wrapper .swiper-pagination {
        height: 15px;
    }
}